fastapi==0.136.3
mutagen==1.47.0
passlib==1.7.4
pydantic==2.13.4
requests==2.34.2
starlette==1.2.1
itsdangerous==2.2.0
uvicorn==0.48.0
argon2-cffi==25.1.0
uvtools==0.22.1
httptools==0.8.0
gamdl==3.8.5